.builderEditor {
	height: calc(100vh - 5em) !important;
	width: auto;
}

.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

.gjs-pn-panel {
  z-index: inherit !important;
}

.gjs-pn-views {
	z-index: 1 !important;
}