$primary              : #1e87f0;
$secondary            : #26A69A;
$accent               : #c743de;

$positive             : #18b53c;
$negative             : #d6293d;
$info                 : #1ca2bd;
$warning              : #d9831a;

$dark                 : #1d1d1d !default;
$dark-page            : #232323 !default;
$separator-dark-color : #21282c !default;

$grey                 : #23282c !default;
$grey-1               : #2f353a !default;
$grey-2               : #333a40 !default;
$grey-3               : #3a4149 !default;
$grey-4               : #73818f !default;
$grey-5               : #8f9ba6 !default;
$grey-6               : #acb4bc !default;
$grey-7               : #c8ced3 !default;
$grey-8               : #e4e7ea !default;
